<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>GreatMing Manage System.</title>
    </head>
    <body>
        <h2>Welcome To GreatMing Manage System.</h2>
        <img th:src="@{/images/cat.jpg}" width="300" height="300"><br>
        <a href="/users">用户管理</a><br>
        <a href="/logread">读取log</a><br>
        <a href="/logread/counthome">统计每个月log</a><br>
        <a href="/balance">数据统计与军饷发放</a><br>

    </body>
</html>